version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data2:/opt/keycloak/data
      - ./realm-export:/opt/keycloak/data/import

volumes:
  keycloak_data2:
